<% include adminheader %>
<head>
  <link href="/css/AdminStyling.css" type="text/css" rel="stylesheet" />
	</head>
	
<div class="container">
			<div class="row">
					<div class="col-md-2"></div>
					<body>
              <div class="col-md-8">
                        <h2 align="center"> Presenters Detail List</h2>
                        <br>
                      </div>
                        <br>
                        <br>
                           <div class="w3-container">
                           <table class="w3-table-all w3-card-4" id="Details"  align="center">
                             <tr>
                               <th>Number</th>
                               <th>Name</th>
                               <th>Email</th>
                               <th>Contact</th>
                               <th>Level</th>
                               <th>Topic</th>
                               <th>Attach</th>
                               <th>Food</th>
                               <th>Restrict</th>
                               <th>Select</th>
                               <th>Reject</th>

                             </tr>
                       <% for(let i = 0; i < list.length; i++) { %>
                       <tr>
                         <td><%= i+1 %></td>
                         <td><%= list[i].name %></td>     
                         <td><%= list[i].email %></td>
                         <td><%= list[i].contact %></td>
                         <td><%= list[i].level %></td>
                         <td><%= list[i].topic %></td>
                         <td><%= list[i].attach %></td>
                         <td><%= list[i].food %></td>
                         <td><%= list[i].restrict %></td>
                         
                         <form action="/send" method="POST">
                          <input type="text" name="confirm" value="<%= list[i].confirm %>"hidden>
                          <input type="text" value="<%= list[i].email %>" name="email1" hidden>
                          <%if(list[i].confirm.length ==0){%>
                         <td><button type="submit" class="btn btn-success" >Confirm</button></td>
                         <%}%>
                         <%if(list[i].confirm.length !=0){%>
                          <td><button disabled class="btn btn-success" >Confirmed</button></td>
                          <%}%>
                        </form>
                        <form action="/sende" method="POST">
                          <input type="text" name="presId" value="<%= list[i]._id %>" hidden>
                          <input type="text" value="<%= list[i].email %>" name="email1" hidden>
                         <td><button type="submit" class="btn btn-danger">Delete</button></td>
                        </form>
                       </tr>
                       <% } %>
                     </table>
                     
                   </div>
                   