<% include adminheader %>

  <head>
    <link href="/css/AdminStyling.css" type="text/css" rel="stylesheet" />
  </head>

<h3>Attendees(Attendees, Graduate students, Faculty)</h3>
<p>Regular:  <%= regular %></p>
<p>Vegetarian:  <%= veg %></p>
<p>Gluten-Free:  <%= gluten %></p>


<h3>Presenters</h3>
<p>Regular:  <%= regularp %></p>
<p>Vegetarian:  <%= vegp %></p>
<p>Gluten-Free:  <%= glutenp %></p>

